.carousel-section {
    .carousel-image {
        margin: auto;
        width: 70%;
        background-image: url("https://i.imgur.com/HZatwp7.jpg");
        background-repeat: no-repeat;
        background-size: 100% 70vh;
        height: 60vh;
    }
}